./venv
/venv
/Encoder_Decoder_Improved.ipynb
/50_speakers_audio_data
/frontend/node_modules
/frontend/build
.DS_Store
/models_V2
models/**/__pycache__/*
models/**/*.pth
models/**/*.pt
models/**/*.ckpt
